<ul>
  <% @songs.each do |song| %>

    <%= form_tag song, remote: true do |f| %>
     <%= check_box_tag :add_to_playlist %>
     <%= submit_tag "Add to Playlist" %>
     <%= label_tag song["title"] %>
     <%= link_to "(remove)", song, method: :delete, data: {confirm: "Are you sure?"}, remote: true %>
    <% end %>


    <li class="song" id="song[#{song.id}]">
      </br>
      <input type="submit" value="Play" id ="play_button">

      <input type="submit" value="Stop" id ="stop_button">
      </br>
      <%= song["artist_name"] %>
      <%= song["title"] %> <%#= check_box_tag :in_playlist %>

    </li>
  <% end %>
</ul>