<!DOCTYPE html>
<html>
<head>
  <title>Crowd J</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
    <script src="https://ajax.googleapis.com/ajax/libs/swfobject/2.2/swfobject.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>


  <%= csrf_meta_tags %>
  <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js" type="text/javascript"></script>
  <![endif]-->
</head>
<body>
  <%= render 'layouts/header' %>
<div id="rdio"></div>
  <div class="container">
    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type == :notice ? "success" : "error" %> fade in">
        <button type="button" class="close" data-dismiss="alert"><i class="icon-remove-sign"></i></button>
        <%= msg %>
      </div>
    <% end %>
      <div class="row-fluid">
        <div class="span12" id="main-page">
          <%= yield %>
        </div>
      </div><!--/row-->
      <hr>
      <%= render 'layouts/footer' %>
  </div>

</body>
</html>
